<a href="https://colab.research.google.com/github/AbyssYang/4111052020_CA/blob/main/0928.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

conn = sqlite3.connect('BBQ.db')

cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS meet(
        id INTEGER PRINARY KEY,
        name TEXT,
        price INTEGER,
        quantity INTEGER

    ) ''')
cursor.execute("INSERT INTO meet (name, price, quantity) VALUES ('chicken',30 ,5)")
cursor.execute("INSERT INTO meet (name, price, quantity) VALUES ('beaf',55 ,10)")
cursor.execute("INSERT INTO meet (name, price, quantity) VALUES ('pork',40 ,15)")
conn.commit()

cursor.execute("SELECT * FROM meet")
meet = cursor.fetchall()
print("列表內容")
for meets in meet:
    print(meets)

cursor.execute("UPDATE meet SET price = 35 WHERE name = 'pork' ")
conn.commit()
cursor.execute("SELECT * FROM meet")
meet = cursor.fetchall()
print("列表內容")
for meets in meet:
    print(meets)

cursor.execute("UPDATE meet SET quantity = 30 WHERE name = 'chicken' ")
conn.commit()
cursor.execute("SELECT * FROM meet")
meet = cursor.fetchall()
print("列表內容")
for meets in meet:
    print(meets)

cursor.execute("DELETE FROM meet WHERE price = 40")
conn.commit()
cursor.execute("SELECT * FROM meet")
meet = cursor.fetchall()
print("列表內容")
for meets in meet:
    print(meets)

cursor.close()
conn.close()

列表內容
(None, 'chicken', 30, 5)
(None, 'beaf', 55, 10)
(None, 'pork', 40, 15)
列表內容
(None, 'chicken', 30, 5)
(None, 'beaf', 55, 10)
(None, 'pork', 35, 15)
列表內容
(None, 'chicken', 30, 30)
(None, 'beaf', 55, 10)
(None, 'pork', 35, 15)
列表內容
(None, 'chicken', 30, 30)
(None, 'beaf', 55, 10)
(None, 'pork', 35, 15)